



/***nav bar************************/
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;


}

.nav > ul{

    float: right;
    width: 20%;

}
.nav > ul > li {
    float:left;

    margin-right: 20px ;
    line-height:25px;
}


a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;




}

a:hover, a:active {
    background-color:darkblue;
}

.container{
    background-color:lightskyblue;
    height: 50px;
    width: 100%;
    position: relative;
    float: left;


}
/*image/logo***************************************/

#logo{
    padding:10% 40%

}

/*sections*******************************************/

.wrapper{

width: 960px;
    padding:0 15%;
}

h1{

    color: lightskyblue;
    padding:2% 17%;



}
#section1{
    border: solid 1px black;
    width: 300px;
    margin-left: 3%;
    padding: 5%;
    float: left;
    height: 500px;



}
#section1 a{

    background-color:lightskyblue;
}



#section2{
    border: solid 1px black;
    width: 300px;
    padding: 5%;
    float: right;
    height: 500px;

}
#section2 a{

    background-color:lightskyblue;
}



#section3{
    border: solid 1px black;
    width: 300px;
    padding: 5%;
    margin: 5% 3%;
    float: left;
    clear: both;
    height: 500px;


}
#section3 a{

    background-color:lightskyblue;
}


#section4{
    border: solid 1px black;
    width: 300px;
    padding: 5%;
    margin-top: 5%;
    float: right;
    height: 500px;

}
#section4 a{

    background-color:lightskyblue;
}


#section5{
    border: solid 1px black;
    width: 300px;
    padding: 5%;
    margin:0 3%;
    float: left;
    height: 500px;
    clear: both;

}
#section5 a{

    background-color:lightskyblue;
}


#section6{
    border: solid 1px black;
    width: 300px;
    padding: 5%;
    float: right;
    height: 500px;

}
#section6 a{

    background-color:lightskyblue;
}

#section7{
    border: solid 1px black;
    width: 300px;
    padding: 5%;
    margin:5% 3%;
    float: left;
    height: 500px;
    clear: both;


}
#section7 a{

    background-color:lightskyblue;
}

#section8{
    border: solid 1px black;
    width: 300px;
    padding: 5%;
    float: right;
    height: 500px;
    margin: 5% 0%;



}
#section8 a{

    background-color:lightskyblue;
}

#section9{
    border: solid 1px black;
    width: 300px;
    padding: 5%;
    float: left;
    height: 500px;
    margin: 0% 3% ;

}
#section9 a{

    background-color:lightskyblue;
}
#section10{
    border: solid 1px black;
    width: 300px;
    padding: 5%;
    float: right;
    height: 500px;


}
#section10 a{

    background-color:lightskyblue;
}

/*footer****************************************/

footer{
    float:left;
    clear: both;
    background-color: lightskyblue;
    padding:0 ;
    margin-top: 10%;
    width: 100%;

}