/*footer***************************************/
*{
    text-decoration: none;
    list-style: none;
}
footer{
    border: solid 1px #000;
    height: 500px;
    background-color: #000;
}
/*images*******************************************/

img{
    border-radius: 100%;
    margin: -5px;
    margin-bottom: 10px;
}
#first{
    float: left;
    margin-left: 650px;
    clear: both;
    margin-top: 10px;
}

/*text *****************************************************/

#info {
    float: left;
    color: #ffffff;
    margin: 10px 250px;
    font-size: 16px;

}
footer p{
    float: left;
    color: #ffffff;
    clear: both;
    font-size: 10px;
    margin-left: 230px;

}
footer a {
    float: left;
    clear: both;
    color: deepskyblue;
    margin-left: 250px;
}
footer h4{
    float: left;
    clear: both;
    text-align: center;
    color: #ffffff;
    margin-left: 230px;
}
footer li{
    float:left;
    margin-left:15px;
    color: #ffffff;
    margin-top: 20px;

}
#follow{
    float: left;
    clear: both;
    border-top: solid 3px #1c1c1c;
    margin:40px 350px;
}
