*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;


}

.nav > ul{

    float: right;
    width: 20%;

}
.nav > ul > li {
    float:left;

    margin-right: 20px ;
    line-height:25px;
}


a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;




}

a:hover, a:active {
    background-color:darkblue;
}

.container{
    background-color:lightskyblue;
    height: 50px;
    width: 100%;
    position: relative;
    float: left;


}
/*image/logo***************************************/

#logo{
    padding:10% 40%

}

/*aboutme****************************************/

#container h1{

    color: lightskyblue;
   padding: 5% 30%;




}
#container{
    border: solid 1px black;
    width: 500px;
margin-left: 27%;
    padding: 5%;




}
/*footer*****************************/
footer{
    float:left;
    clear: both;
    background-color: lightskyblue;
    padding:0 ;
    margin-top: 10%;
    width: 100%;

}