<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/socialmedia.css?v=1">
</head>
<body>




<div class="social">
    <a target="_blank" class="fb" href="http://facebook.com">Facebook</a>
    <a target="_blank" class="tw" href="http://twitter.com">Twitter</a>
    <a target="_blank" class="yt" href="https://www.youtube.com">Youtube</a>
    <a target="_blank" class="it" href="http://instagram.com">Instagram</a>
    <a target="_blank" class="tu" href="http://teamcoco.tumblr.com">Tumblr</a>
    <a target="_blank" class="tv" href="http://www.twitch.tv">Twitch</a>


</div>



























<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/main.js"></script>
</body>
</html>