<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/CTA.css">
</head>
<body>
<section class="video">
<a onclick="ga('send', 'event', 'CTA', 'click', '');" href="/index.html" class="btn btn--gold hover--red">About me</a>
<div class="bg-video" style="-webkit-transform: translateY(0px); transform: translateY(0px);">
    <video preload="auto" autoplay="" loop="">
        <source src="https://www.youtube.com/embed/MI9GJ6FL7FM" type="video/mp4">
        <source src="https://www.youtube.com/embed/MI9GJ6FL7FM" type="video/webm">
    </video>
</div>
</section>

</body>
</html>