<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/video.css">
</head>
<body>



<section>
    <video >
        <source src="https://www.youtube.com/embed/MI9GJ6FL7FM?rel=0&amp;controls=0&amp;showinfo=0"  allowfullscreen>

    </video>
    <h2>Video Gallery</h2>


    <ul>
        <li class="current"><a href=""class="current">BRIAN LOZANO<br>watching paint dry</a></li>
        <li><a href="">BRIAN LOZANO<br>watching paint dry</a></li>
        <li><a href="">BRIAN LOZANO<br>watching paint dry</a></li>
        <li><a href="">BRIAN LOZANO<br>watching paint dry</a></li>
        <li><a href="">BRIAN LOZANO<br>watching paint dry</a></li>
        <li><a href="">BRIAN LOZANO<br>watching paint dry</a></li>
    </ul>
</section>







</body>
</html>