<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h2>Video Gallery</h2>

<section class="video">
    <video width="320" height="240" controls autoplay>
        <source src="movie.ogg" type="video/ogg">
        <source src="movie.mp4" type="video/mp4">
        <object data="movie.mp4" width="320" height="240">
            <embed width="320" height="240" src="movie.swf">
        </object>
    </video>
</section>


<aside>
    <h2>Movie list</h2>

    <ul style="list-style-type:none">
        <li>Video 1</li>
        <li>Video 2</li>
        <li>Video 3</li>
    </ul>

</aside>

</body>
</html>