<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<section>
    <img src="/images/Brian.jpg">
    <img src="/images/Brian.jpg">
    <form action="demo_form.asp">
      Email: <input type="text" name="Email" value="student"><br>
     Password: <input type="password" name="Password" value="password"><br>
        <input type="submit" value="Submit">
    </form>



</section>








</body>
</html>