<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/login.css">
</head>
<body>

<section>
    <img src="../../images/cute-cow-T-Shirts.png"height="250px" max-width="100%">
    <img id="zzz" src="../../images/zzz04.png"height="250px" max-width="100%">
    <form action="form">
      Name: <input id="name" type="text" name="name" value=""><br>
     Email: <input type="text" name="Email" value=""><br>
        <input type="submit" value="Submit">
    </form>

<p>ZZZ will never give out your personal information. we promise</p>

</section>


</body>
</html>