<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/photo.css">
</head>
<body>


<section>
<div class="img">
    <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="250" height="250"></a>

</div>
<div class="img">
    <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="350" height="250"></a>

</div>
<div class="img">
    <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="250" height="250"></a>

</div>
<div class="img">
    <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="250" height="250"></a>
</div>
<div class="img">
    <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="250" height="250"></a>

</div>

    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="250" height="250"></a>

    </div>
    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="250" height="250"></a>

    </div>
    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="250" height="250"></a>

    </div>
    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="250" height="250"></a>
    </div>
    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="350" height="250"></a>

    </div>
    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="270" height="250"></a>

    </div>
    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="270" height="250"></a>

    </div>
    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="270" height="250"></a>

    </div>
    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="270" height="250"></a>
    </div>
    <div class="img">
        <a target="_blank" href="../../images/Brian.jpg"><img src="../../images/Brian.jpg" alt="Brian" width="270" height="250"></a>

    </div>

</section>









<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/main.js"></script>
</body>
</html>