<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/photo.css">
</head>
<body>

<section class="photo">
<h4>Photo gallery</h4>
<div class="photo">
    <table class="center">
        <tbody><tr><td><a href="index00.html" name="thumb00">
            <img src="thumb00.jpg" alt="Click!"></a></td><td><a href="index01.html" name="thumb01">
            <img src="thumb01.jpg" alt="Click!"></a></td><td><a href="index02.html" name="thumb02">
            <img src="thumb02.jpg" alt="Click!"></a></td><td><a href="index03.html" name="thumb03">
            <img src="thumb03.jpg" alt="Click!"></a></td></tr><tr><td><a href="index04.html" name="thumb04">
            <img src="thumb04.jpg" alt="Click!"></a></td><td><a href="index05.html" name="thumb05">
            <img src="thumb05.jpg" alt="Click!"></a></td><td><a href="index06.html" name="thumb06">
            <img src="thumb06.jpg" alt="Click!"></a></td><td><a href="index07.html" name="thumb07">
            <img src="thumb07.jpg" alt="Click!"></a></td></tr><tr><td><a href="index08.html" name="thumb08">
            <img src="thumb08.jpg" alt="Click!"></a></td><td><a href="index09.html" name="thumb09">
            <img src="thumb09.jpg" alt="Click!"></a></td><td><a href="index10.html" name="thumb10">
            <img src="thumb10.jpg" alt="Click!"></a></td><td><a href="index11.html" name="thumb11">
            <img src="thumb11.jpg" alt="Click!"></a></td></tr><tr><td><a href="index12.html" name="thumb12">
            <img src="thumb12.jpg" alt="Click!"></a></td><td><a href="index13.html" name="thumb13">
            <img src="thumb13.jpg" alt="Click!"></a></td><td><a href="index14.html" name="thumb14">
            <img src="thumb14.jpg" alt="Click!"></a></td><td><a href="index15.html" name="thumb15">
            <img src="thumb15.jpg" alt="Click!"></a></td></tr><tr><td></td><td></td><td></td><td></td></tr>
        </tbody></table></div>



</section>



















<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/main.js"></script>
</body>
</html>