<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/components.css">
</head>
<body>

<footer>

            <img src="/images/Brian.jpg">
    <p>contact any of us, just click on a image below</p>

    <div class="Brian">
    <a href="Brian.html"><img src="/images/Brian.jpg"></a>
        <p>CEO</p>
        Click <a href="http://www.yahoo.com">Email</a> to go to yahoo.
    </div>

    <div class="Brian">
        <a href="Brian.html"><img src="/images/Brian.jpg"></a>
        <p>Developer</p>
        Click <a href="http://www.yahoo.com">Email</a> to go to yahoo.
    </div>


    <div class="Brian">
        <a href="Brian.html"><img src="/images/Brian.jpg"></a>
        <p>Customer rep</p>
        Click <a href="http://www.yahoo.com">Email</a> to go to yahoo.
    </div>







</footer>





















<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/main.js"></script>
</body>
</html>