<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/contact.css">
</head>
<body>

<section>

    <ul>
        <li>
            <a href=""><img src="../../images/email.png" height="50px"></a>
            <h4>Email</h4></li>

   <li>
       <a href=""><img src="../../images/iPhone-White.png" height="50px"></a>
        <h4>Phone</h4>

   </li>

   <li>
       <a href=""><img src="../../images/agenda%20planner.png" height="50px"></a>
        <h4>Project Planner</h4>

   </li>

   <li>
       <a href=""><img src="../../images/Twitter.png" height= "50px"></a>
        <h4>Twitter</h4>

       </li>

        <li>
            <a href=""><img src="../../images/skype.png" height="50px"></a>
        <h4>Skype</h4>

        </li>

    </ul>
</section>

















<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/main.js"></script>
</body>
</html>