<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>

<section>


<div id="email">
<h4>Email</h4>
    <a href="mail.html"><img src="/images/Brian.jpg"></a>
</div>

    <div id="phone">
        <h4>Phone</h4>
        <a href="phone.html"><img src="/images/Brian.jpg"></a>
    </div>

    <div id="twitter">
        <h4>Twitter</h4>
        <a href="twitter.com"><img src="/images/Brian.jpg"></a>
    </div>

</section>

















<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/main.js"></script>
</body>
</html>