<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/about.css">
</head>

<body>

<section id="profile">
    <h3>Brian Lozano</h3>
    <img src="../../images/Brian.jpg" height="150" max-width="100%">
<ul>
    <li>Male</li>
    <li>34 years old</li>
    <li>Ventura, California</li>
    <li>United States</li>

</ul>

</section>

<aside>
    <h3>Brian Lozano's Blurbs</h3>
    <h4>About me:</h4>
    <p>Hello, my name is Brian Lozano. I am a 34 year old Army vet who was born and raised in California.
        When I left the military, I decided to join Fullsail to learn how to become a web developer.
        I have always liked to draw and design things for fun. So far, I think I have made the right
        choice in the field I have chosen. I can’t wait to see what I can do when I am done with school.</p>

    <h4>Who id like to meet:</h4>
    <p>All of my new friends</p>
</aside>

<section id="contact">

    <h4>contacting Brian Lozano</h4>
<ul id="contact2">

    <li><a href="Send message">Send message</a></li>
    <li><a href="Add to friends">Add to friends</a></li>
    <li><a href="Instant message">Instant message</a></li>
    <li><a href="Add to group">block user</a></li>


    </ul>

    <ul id="contact3">

        <li><a href="Forward to friend">Forward to friend</a></li>
        <li><a href="Add to favorites">Add to favorites</a></li>
        <li><a href="Block user">Block user</a></li>
        <li><a href="Rank user">bRank user</a></li>


    </ul>

    <audio controls>
        <source src="horse.ogg" type="audio/ogg">
        <source src="horse.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

</section>

<section id="status">
    <h4>Brian Lozano details</h4>
    <ul id="question">
        <li>Status:</li>
        <li>Body Type:</li>
        <li>Here for:</li>
        <li>Zodiac Sign:</li>

    </ul>
    <ul id="answer">
        <li>Single</li>
        <li>5'11</li>
        <li>Friends</li>
        <li>Gemini</li>

    </ul>

</section>

<section id="myfriends">
    <h4>Brian Lozano's friends space</h4>
    <p>Brian Lozano has 4 friends</p>

    <a href="myfile.htm"><p>Brian Lozano</p><img src="../../images/Brian.jpg"height="100px"></a>
    <a href="myfile.htm"><p>Brian Lozano</p><img src="../../images/Brian.jpg"height="100px"></a>
    <a href="myfile.htm"><p>Brian Lozano</p><img src="../../images/Brian.jpg"height="100px"></a>
    <a href="myfile.htm"><p>Brian Lozano</p><img src="../../images/Brian.jpg"height="100px"></a>




</section>






























<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/main.js"></script>
</body>
</html>