<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/about.css?v=1">
</head>

<body>

<section class="profile">
    <h3>My Name</h3>
    <img src="/images/Brian.jpg">
<p>sex</p>
    <p>age</p>
<p>city</p>
    <p>state</p>
</section>

<aside>
    <h4>About me</h4>
    <p>Hello, my name is Brian Lozano. I am a 34 year old Army vet who was born and raised in California.
        When I left the military, I decided to join Fullsail to learn how to become a web developer.
        I have always liked to draw and design things for fun. So far, I think I have made the right
        choice in the field I have chosen. I can’t wait to see what I can do when I am done with school.</p>

</aside>

<section id="contact">



    <a href="send message">Send message</a>
    <a href="Add to friends">Add to friends</a>
    <a href="instant message">Instant message</a>
    <a href="block user">block user</a>


</section>

<section id="status">
    <form>
        Status:<br>
        <input type="text" name="Status">
        <br>
        Here For:<br>
        <input type="text" name="Here For">
        <br>
        Zodiac Sign:<br>
        <input type="text" name="Zodiac Sign">

    </form>

</section>

<section id="myfriends">
    <h4>My friends profiles</h4>

    <a href="myfile.htm"><img src="/images/Brian.jpg"></a>
    <a href="myfile.htm"><img src="/images/Brian.jpg"></a>
    <a href="myfile.htm"><img src="/images/Brian.jpg"></a>
    <a href="myfile.htm"><img src="/images/Brian.jpg"></a>




</section>






























<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/main.js"></script>
</body>
</html>